<div id="<%= dom_id student_account %>">
  <p>
    <strong>Name:</strong>
    <%= student_account.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student_account.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= student_account.password %>
  </p>

</div>
