<h1>Editing student account</h1>

<%= render "form", student_account: @student_account %>

<br>

<div>
  <%= link_to "Show this student account", @student_account %> |
  <%= link_to "Back to student accounts", student_accounts_path %>
</div>
